---
title: braArkiv dokumentasjon
images:
  - ???.jpg
  - ….jpg
  - parrot.gif
---
<style>
  * {
    box-sizing: border-box;
  }

  .row {
    display: flex;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    height: 70vh;
    /* Should be removed. Only for demonstration */
  }
</style>
<body>
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="column">
      <iframe src="../docs/roadmap/index.html" frameBorder="0" height="100%" width="100%"></iframe>
    </div>
    <div class="column">
      <iframe src="../docs/whats-new/index.html" frameBorder="0" height="100%" width="100%"></iframe>
    </div>
  </div>
</body>
